.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  padding: 0 20px;
}

.navbar-div {
  display: flex;
}

.navbar-div p {
  padding: 0 20px;

}

.sub-nav {
  display: flex;
  justify-content: center;
}

.sub-nav p {
  padding: 0 20px;
  font-weight: bold;
}

.nav {
  display: flex;
  flex-direction: column;
}
